<h1>Listing admin_clients</h1>

<table class="table table-bordered">
  <tr>
    <th>Name</th>
    <th>Adresse</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @admin_clients.each do |admin_client| %>
  <tr>
    <td><%= admin_client.name %></td>
    <td><%= admin_client.adresse %></td>
    <td><%= link_to 'Show', admin_client %></td>
    <td><%= link_to 'Edit', edit_admin_client_path(admin_client) %></td>
    <td><%= link_to 'Destroy', admin_client, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Client', new_admin_client_path %>
