<!DOCTYPE html>
<html>
<head>
  <title>guardian</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>


</head>
<body>

<div class="navbar">
  <div class="navbar-inner">
    <% if current_user %>
    <ul class="nav" style="float: left;">
      <a class="brand">Guardian</a>
    </ul>
    <% else %>
      <a class="brand" >Guardian</a>
     <% end %>
    <ul class="nav" style="float: right;">

      <% if current_user %>
     
				<li><%= link_to "Sign Out", destroy_user_session_path %></li>
        <li><%= link_to "Entries", user_entries_path  %><li>
        <li><%= link_to "Change Password", edit_user_password_path %><li>

			<% else %>
				<li><%= link_to "Sign In", new_user_session_path %></li>
        <li><%= link_to "Admin", new_admin_session_path %></li>

      <% end %>

    </ul>
  </div>
</div>

<% flash.each do |key, msg| %>
  <%= content_tag :div, class: "alert alert-#{key}", id: "notice" do %>
      <a class="close" data-dismiss="alert" href="#">&times;</a>
      <%= msg %>
  <% end %>
<% end %>

<div class='content' style='margin: 15px;'>
<%= yield %>
</div>

</body>
</html>
